@mixin flex-col( $gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}


@mixin flex-row( $justify: center , $align : center){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}