@use "_mixin" as m;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", sans-serif;
}

section,
footer,
#rating {
  max-width: 1950px;
}

main {
  width: 100%;
  align-items: center;

  #arrowbtn {
    border: 0.01rem solid rgba(94, 93, 93, 0.826);
    background: #343434;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  i {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    border: 0.01rem solid rgba(145, 144, 144, 0.475);
    border-radius: 50%;
    padding: 0.6rem;
    background: rgba(95, 94, 94, 0.774);
    backdrop-filter: blur(0.4rem);
    margin: 0.3rem;
    transition: transform 0.3s ease-in-out, border 0.3s;
  }

  i:hover {
    border: 0.01rem solid rgba(181, 180, 180, 0.884);
    scale: 1.1;
  }

  section#view1 {
    width: 100%;
    padding: 1rem;
    @include m.flex-col(1rem);

    .top {
      border-radius: 0.7rem;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .bottom {
      background: #272626;
      padding: 2rem;
      border-radius: 0.7rem;
      @include m.flex-col(3.5rem);

      .text {
        h1 {
          font-family: 2.4rem;
          font-weight: 400;
        }

        p {
          font-size: 1.2rem;
          color: rgb(164, 163, 163);
          line-height: 1.5;
          margin: 1.5rem 0;
        }
      }
    }
  }

  #rating {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;

    .box {
      p {
        color: rgb(128, 127, 127);
        text-transform: uppercase;
      }
      h1 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  section#view2,
  section#view3 {
    width: 100%;
    padding: 0.5rem 1rem;
    @include m.flex-col(1rem);

    .top {
      border-radius: 0.7rem;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .bottom {
      background: #272626;
      padding: 2rem;
      border-radius: 0.7rem;
      @include m.flex-col(3.5rem);

      h3 {
        font-weight: 400;
      }

      .text {
        h1 {
          font-family: 2.4rem;
          font-weight: 400;
          font-size: 2rem;
          text-transform: uppercase;
        }

        p {
          font-size: 1.1rem;
          color: rgb(164, 163, 163);
          line-height: 1.5;
          margin: 1.2rem 0;
        }
      }
    }
  }

  #teamView {
    width: 100%;

    #head {
      padding: 0rem 1.5rem;
      @include m.flex-row(space-between);

      h1 {
        font-size: 1.8rem;
        font-weight: 400;
      }

      div {
        display: none;
      }
    }

    #teamCont {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      padding: 1rem;

      .card {
        width: 100%;
        border-radius: 0.7rem;
        @include m.flex-col(0rem);
        justify-content: space-between;
        background-position: center;
        background-size: cover;
        aspect-ratio: 1/1;
        padding: 1rem;

        .top {
          @include m.flex-row(end);
          padding: 1rem;
        }

        .btm {
          @include m.flex-row(space-between);
          padding: 1rem;
          background: rgba(95, 94, 94, 0.774);
          backdrop-filter: blur(0.4rem);
          border: 0.001rem solid rgb(81, 80, 80);
          border-radius: 0.7rem;

          h1 {
            font-weight: 100;
          }
          h4 {
            font-weight: 400;
          }
        }
        .btm:hover {
          border-color: rgb(149, 148, 148);
        }
      }

      #card1 {
        background-image: url("./assets/card1.webp");
      }
      #card2 {
        background-image: url("./assets/card2.webp");
      }
      #card3 {
        background-image: url("./assets/card3.webp");
      }
    }
  }

  #view5 {
    padding: 1rem;
    @include m.flex-col(0.5rem);
    .top {
      width: 100%;
      border-radius: 0.7rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .bottom {
      border-radius: 0.7rem;
      @include m.flex-col(3rem);
      padding: 2rem;
      background: #282828;
      text-transform: uppercase;

      p {
        color: rgb(172, 164, 164);
        margin-bottom: 0.8rem;
        font-weight: 400;
      }
      h1 {
        font-weight: 400;
        font-size: 3rem;
      }
    }
  }

  #view6 {
    width: 100%;
    padding: 0 1rem;

    #Cont {
      border-radius: 0.7rem;
      background: #cebd63;
      padding: 3rem;
      @include m.flex-col(2rem);
      color: #1a1a1a;

      h4 {
        font-weight: 400;
      }

      h1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2;
      }

      button {
        border-radius: 0.7rem;
        padding: 0.2rem 0.8rem;
        background: #000;
        color: whitesmoke;

        i {
          background: none;
          border: none;
        }
      }

      button:hover {
        box-shadow: 0 0 0.8rem white;
      }
    }
  }

  footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.7rem;

    .top {
      padding: 2rem;
      @include m.flex-col(6rem);
      background: rgb(36, 35, 35);
      border-radius: 0.7rem;
    }

    .bottom {
      .btm-top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        border-radius: 0.7rem;
        overflow: hidden;
        margin-bottom: 0.7rem;
        background: rgb(36, 35, 35);

        div {
          padding: 2rem;
         
          h3 {
            font-weight: 400;
          }

          li {
            margin: 1.2rem 0;
            list-style: none;

            a {
              text-decoration: none;
              color: rgb(152, 147, 147);
              font-weight: 600;
            }
          }

          button {
            border-radius: 0.7rem;
            padding: 1rem;
            background: #cebd63;
            border: none;
          }

          button:hover {
            background: #dac559;
          }
        }
      }
      
     .btm {
      border-radius: 0.7rem;
      background: rgb(36, 35, 35);
      color: rgb(152, 147, 147);
      padding: 1.5rem;
      @include m.flex-col(1rem);
      text-align: center;

       a {
        color: whitesmoke;
        line-height: 1.6;
       }
      
     }
    }

  }
}

@media (min-width : 479px) {
  main{
    footer{
      .bottom{
        .btm-top{
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}


@media (min-width: 767px) {
  main {
    #teamView {
      #teamCont {
        grid-template-columns: 1fr 1fr;
      }
    }

    footer {
      .bottom {
        .btm-top {
          grid-template-columns: 1fr 1fr 1fr;
          div {
            padding: 3rem;
          }
        }
        .btm{
          @include m.flex-row(space-between);
         
        }
      }

    }
  }
}


@media (min-width: 880px) {
  main {
    section#view1 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4rem;

        .text {
          h1 {
            font-size: 3.8rem;
          }
          p {
            width: 80%;
          }
        }
      }
    }

    #rating {
      grid-template-columns: repeat(4, 1fr);
      .box {
        p {
          font-weight: 600;
        }
        h1 {
          font-size: 3.5rem;
        }
      }
    }

    section#view2,
    section#view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4rem;

        .text {
          h1 {
            font-size: 3rem;
          }
        }
      }
    }

    section#view3 {
      flex-direction: row;
    }

    #teamView {
      #head {
        padding: 1rem 3rem;

        h1 {
          font-size: 3rem;
        }

        div {
          display: block;
        }
      }

      #teamCont {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    #view5 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        padding: 4rem;
        justify-content: space-between;

        h2 {
          font-size: 3rem;
          width: 80%;
        }
      }
    }

    footer {
      grid-template-columns: 1fr 3fr;

      .top {
        justify-content: space-between;
        padding: 3rem;
      }
    }
  }
}


@media (min-width: 990px ) {
   main{
     #view6{
      #Cont{
        @include m.flex-row(space-between);
        gap: 0;
       
        #leftText{
         max-width: 72%;
        }
        h1{
          font-size: 4rem;
        }
      
        button {
          height: max-content;
          align-self: end;

        }
      }
     }
   }
}


        